body {
    width: 500px;
    margin: 4% auto;
    letter-spacing: 5px;
    font-size: 1.7em;
}

.calculator{
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.input {
    border: 2px solid rgba(47, 162, 240, 0.466);
    border-radius: 2px;
    height: 60px;
    padding-right: 15px;
    padding: 10px;
    text-align: right;/*Place inputted text to the right*/
    margin-right: 6px;
    font-size: 2.5em;
    overflow-x: auto;
    transition: all .5s ease-in-out; 
}

.input:hover {
    border: 1px solid rgb(0, 112, 187);
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.operators div{
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;/*Change cursor when we click the button*/
    background-color: #ddd;
    transition: border-color .3s ease-in-out, background-color .3s, box-shadow .3s;
}

.operators div:hover{
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}

.downPanel {
    display: inline-block;
}

.numbers div{
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;/*Change cursor when we click the button*/
    background-color: #ddd;
    transition: border-color .3s ease-in-out, background-color .3s, box-shadow .3s;
}

.numbers div:hover{
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    border-color: #aaa;
}

.numbers div:active {
    font-weight: bold;
}

div#equals {
    display: inline-block;
    border: 1px solid #3079ed;
    border-radius: 1px;
    width: 17%;
    text-align: center;
    padding: 140px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
    transition: all .3s ease-in-out;
}

div#equals:hover{
    background-color: #307cf9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    border-color: #1857bb;
}

div#equals:active{
    font-weight: bold;
}